body {
	font-family: Helevetica, sans-serif;
	margin: 10px;
	color: #333333;
}

h1 {
	font-family: Georgia, serif;
	margin-bottom: 30px;
}
#h1-symbol {
	color: #FF69B4;
}

.centering {
	text-align: center;
}
.gap-1 {
	margin-left: 10px;
}
.gap-2 {
	margin-left: 5px;
}

/* Table styling */

#grid-container {
    display: grid;	
    width: 70%;
	margin-left: 15%;
}

#table-btn-wrapper {
    display: grid;
    grid-template-rows: 8% 8%;
    margin-left: 5px;
}

.table-btn {
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}

#table-wrapper {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 25px;
	overflow-y: visible;
}

table {
	width: 100%;
}
thead th {
	position: sticky;
	top: 0;
}
td, th {
	padding: 8px;
}
th {
	background: #EEEEEE;
}
table tr th:nth-child(4), table tr td:nth-child(4) {
	display: none;
}

.tradio {
	width: 15%;
	text-align: center;
}

/* Inputs and labels styling */

.buttons {
	padding: 10px 16px;
	font-size: 16px;
	font-weight: normal;
	color: #333333;
	background-color: #EEEEEE;
	border-radius: 3px;
	border-style: none;
	text-decoration: none;
	cursor: pointer;
}

.save {
	margin: 5px;
	width: min-content;
}

.textinput {
	padding: 5px;
	font-size: 16px;
	color: #333333;
	border: 1px solid lightgrey;
}

.labels {
	font-size: 18px;
	font-weight: bold;
}

#status {
	font-weight: normal;
}

#status-label {
	margin-left: 15%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
  }