/* Basic Web Page Stylings */

body {
	font-family: Helevetica, sans-serif;
	margin: 10px;
	color: #333333;
}

h1 {
	font-family: Georgia, serif;
	margin-bottom: 30px;
}
#h1-symbol {
	color: #FF69B4;
}

.centering {
	text-align: center;
}
.gap-1 {
	margin-left: 10px;
}
.gap-2 {
	margin-left: 5px;
}

/* Table styling */

#grid-container {
    display: grid;	
    width: 70%;
	margin: 10px 15%;
}

#table-btn-wrapper {
    display: grid;
    grid-template-rows: 8% 8%;
    margin-left: 5px;
}

.table-btn {
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}

#table-wrapper {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 25px;
	overflow-y: visible;
}

table {
	width: 100%;
}
thead th {
	position: sticky;
	top: 0;
}
td, th {
	padding: 8px;
	vertical-align: text-top;
}
th {
	background: #EEEEEE;
}
table tr th:nth-child(4), table tr td:nth-child(4) {
	display: none;
}

/* Inputs and labels styling */

.buttons {
	color: #FFFFFF;
	background-color: #198754;
	margin: 1px;
	cursor: pointer;
}

.save {
	margin: 5px;
	width: min-content;
	white-space: nowrap;
    overflow: hidden;
}

.textinput {
	padding: 5px;
	font-size: 16px;
	color: #333333;
	border: 1px solid lightgrey;
}

.labels {
	font-size: 18px;
	font-weight: bold;
}

/* BootStrap Styling */

.header {
	color: #FFFFFF
}

.backButton {
	margin-left: auto;
	margin-right: 10px;
	display: inline-flex
}

#adminActions, #document, #json {
	margin: 10px 10px;
	font-family: Arial;
	font-size: large;
}

#login-brand {
	margin-left: 0;
}

.navbar-brand {
	margin-left: 12px
}